
<div id="open-modal" >
    <div>
        <a href="#" title="Close" class="modal-close">Close</a>
        <form  #ingrForm="ngForm" (ngSubmit)="onSubmit(ingrForm)">
          <h4>Ajouter un ingredient</h4>
          <div class="form-group">
            <!--NOM-->
            <label for="nomIngr">Nom Ingredient</label>
            <input type=text name="nomIngr" #name="ngModel" 
              [(ngModel)]="ingredient.nomIngr" required>    
          </div>
          
          <div class="form-group">
            <!--PRIX-->
            <label for="prixU">Prix Unitaire</label>
            <input type=number name="prixU" #name="ngModel" 
                [(ngModel)]="ingredient.prixU" required>
          </div>
          
          <div class="form-group">
            <label for="stock">Valeur Stock</label>
            <!--STOCK-->
            <input type="number" name="stock" #name="ngModel" 
            [(ngModel)]="ingredient.stock" placeholder="Valeur Stock" required>
          </div>
          
          <div class="form-group">
            <!--UNITE-->
            <label class="webix_el_label .webix_el_box" for="unite">Unité</label>
            <select style="display: block;" name="unite" #name=ngModel [(ngModel)]="ingredient.unite">
              <option value="g">g</option><option value="Kg">Kg</option>
              <option value="l">l</option><option value="ml">ml</option>
            </select>
          </div>

          <!--ALLERGENE-->
          <span class="input-label">Allergene ? </span>
          <div > 
            <label for="alergene" class="btn btn-primary">
              OUI
            </label> <input type="radio" value="oui" name="allergene" [(ngModel)]="ingredient.allergene"> 
            <label for="alergene" class="btn btn-primary">
              NON
            </label> <input type="radio" value="non" name="allergene" [(ngModel)]="ingredient.allergene">
          </div>
          
          <!--BUTTON ADD-->
          <div class="interior" align="center">  
            <button type="submit" class="btn" style="width:50%"
                  [disabled]="!ingrForm.valid" [disabled]="ingrForm.invalid">
                  <i class="bi bi-plus"></i>Ajouter Ingredient</button>
          </div>  
      </form>
    </div>
</div>

