<div class="container">
  <div>
    <h4 class="card-title">{{ nomCateg }} </h4>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom </th>
        <th scope="col">Prix</th>
        <th scope="col">U</th>
        <th scope="col">Allergene</th>
        <th scope="col">Stock</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="listeIngredients">
      <tr *ngFor="let ingredient of listeIngredients; index as i">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ ingredient.nomIngr }}</td>
        <td>{{ ingredient.prixU }}</td>
        <td>{{ ingredient.unite }}</td>
        <td>{{ ingredient.allergene }}</td>
        <td>{{ ingredient.stock }}</td>
        <td>
          <i class="bi bi-pencil-square" style="color: green;" 
              (click)="editModal(ingredient)"></i>
        </td>
        <td>
          <i class="bi bi-trash" (click)="deleteIngredient(ingredient)" style="color: red;"></i>
        </td>
      </tr>
      </tbody>
  </table>
  <!--BUTTON ADD-->
  <div class="interior">
    <button type="button" class="btn btn-primary" (click)="goBack()" >Retour</button>
    <a class="btn" href="#open-modal">Ajouter un ingredient</a>
  </div>
</div>


<!--////////////////////////////////////////////////////////////-->
<div id="open-modal" class="modal-window">
    <div class="row">
        <a href="#" title="Close" class="modal-close">Close</a>
        <form  #ingrForm="ngForm" (ngSubmit)="onSubmit(ingrForm)">
            <h4>Ajouter un ingredient</h4>
            <div class="form-group">
              <!--NOM-->
              <label for="nomIngr">Nom Ingredient</label>
              <input type=text name="nomIngr" #name="ngModel" 
                [(ngModel)]="ingredient.nomIngr" required>    
            </div>
            
            <div class="form-group">
              <!--PRIX-->
              <label for="prixU">Prix Unitaire</label>
              <input type=number name="prixU" #name="ngModel" 
                  [(ngModel)]="ingredient.prixU" required>
            </div>
            
            <div class="form-group">
              <label for="stock">Valeur Stock</label>
              <!--STOCK-->
              <input type="number" name="stock" #name="ngModel" 
              [(ngModel)]="ingredient.stock" placeholder="Valeur Stock" required>
            </div>
            
            <div class="form-group">
              <!--UNITE-->
              <label class="webix_el_label .webix_el_box" for="unite">Unité</label>
              <select style="display: block;" name="unite" #name=ngModel [(ngModel)]="ingredient.unite">
                <option value="g">g</option><option value="Kg">Kg</option>
                <option value="l">l</option><option value="ml">ml</option>
              </select>
            </div>
    
            <!--ALLERGENE-->
            <span class="input-label">Allergene ? </span>
            <div>
              <div class="form-group">
                <!--UNITE-->
                <select style="display: block;" name="allergene" #name=ngModel [(ngModel)]="ingredient.allergene">
                  <option value="true">Oui</option><option value="false">Non</option>
                </select>
              </div>
            </div>
            <!--BUTTON ADD-->
            <div class="interior" align="center">  
              <button type="submit" class="btn" style="width:80%"
                    [disabled]="!ingrForm.valid" [disabled]="ingrForm.invalid">
                    <i style="width:80%" class="bi bi-plus"></i>Ajouter Ingredient</button>
            </div>  
        </form>





        <!--sorry-->
      

    </div>
</div>
