<div>
    <h4>Parametres de base</h4>
    <table class="table table-striped">
        <thead>
         <tr>
           <!--th scope="col">#</th-->
           <th scope="col">cout horaire moyen</th>
           <th scope="col">cout horaire forfaitaire</th>
           <th scope="col">coefficient multiplicateur</th>
           <th scope="col">coefficient</th>
           <th scope="col">Modifier</th>

         </tr>
        </thead>
        <tbody *ngIf="parametres">
          <tr *ngFor="let parametre of parametres; index as i">
            <!--th scope="row">{{ i+1 }}</th-->
            <td>{{ parametre.coutHorMoy }}</td>
            <td>{{ parametre.coutHorForf }}</td>
            <td>{{ parametre.coeffMulti }}</td>
            <td>{{ parametre.coeff }}</td>
            <td>
              <i class="bi bi-pencil-square" style="color: green;" ></i>
            </td>
          </tr>
        </tbody>
    </table> 
</div>


