<div>
    <h1></h1>
    <p class="text-center">
        <strong>{{ categories.length }} Categories sont disponibles</strong>
    </p>
  </div>
  
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nomCategFiche</th>
        <th scope="col">listeFiches</th>
      </tr>
    </thead>
    <tbody *ngIf="categories">
      <tr *ngFor="let categ of categories; index as i">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ categ.nomCategFiche }}</td>
        <td>{{ categ.listeFiches }}</td>
        <td>
          <i class="bi bi-trash" (click)="deleteCateg(categ)" style="color: red;"></i>
        </td>
      </tr>
      </tbody>
  </table>

  <div class="form-group float-right">
    <button type="submit" class="btn btn-success" (click)="editModal()" >
      <i class="bi bi-plus"></i>Ajouter une catégorie</button>
  </div>