<div align="center" style="height: 100%;">
  <p class="text-center">
      <strong>{{ fiches.length }} Fiches sont disponibles</strong>
  </p>
  <table class="table table-striped" >
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Nom du Plat</th>
        <th scope="col">Nombre de Couverts</th>
        <th scope="col">Nom etape(s)</th>
        <!--th scope="col">Edit</th>
        <th scope="col">Delete</th-->
      </tr>
    </thead>
    <tbody *ngIf="fiches">
      <tr style="cursor: pointer;" *ngFor="let fiche of fiches; index as i" (click)="clicSurBouton(fiche.id)">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ fiche.nomPlat }}</td>
        <td>{{ fiche.nbCouverts }}</td>
        <td *ngFor="let etape of fiche.listeEtapes;index as i">
          <p>{{ etape.nomEtape }}</p>
        </td>
      </tr>
      </tbody>
  </table>
  <div class="interior">
    <button type="button" class="btn btn-primary" (click)="goBack()" >Retour</button>
  </div>
</div>
