$green-dark:  #ccff99;
$green-light: #3b320b;
$gray:        #8f8f8f;
$gray-light:  #878a6c;

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
    background: linear-gradient(-45deg, #3b5a2c, #f1ac5d, #6dda9a, #c59234);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.login-form {
    width: 100%;
    padding: 2em;
    position: relative;
    background: rgba(black, .15);

    
    font-size: 1.5em;
    
    &:before {
      content: '';
      position: absolute;
      top: -2px; left: 0;
      height: 3px; width: 100%;
      
      background: linear-gradient(
        to right,
        $green-dark,
        $green-light
      );    
    }
    
    @media screen and (min-width: 600px) {
      width: 50vw;
      height: 15em;
      max-width: 20em;
    }
  }
  
    .flex-row {
      display: flex;
      margin-bottom: 1em;
    }
    
    .lf--label {
      width: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      
      background: $gray-light;
      cursor: pointer;
    }
    .lf--input {
      flex: 1;
      padding: 1em;
      border: 0;
      color: $gray;
      font-size: 1.5rem;
      font-family: 'Roboto', helvetica, arial;
  
      &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.1);
      }
    }
  
    .lf--submit {
      display: block;
      padding: 1em;
      width: 100%;
      
      background: linear-gradient(
        to right,
        $green-dark,
        $green-light
      );
      border: 0;
      color: #fff;
      cursor: pointer;
      font-size: .75em;
      font-family: "Comic Sans MS", Georgia, 'Times New Roman', Times, serif;
      font-weight: 600;
      text-shadow: 0 1px 0 rgba(black, .2);
      
      &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.1);
      }
    }
  
  .lf--forgot {
    margin-top: 1em;
    color: $green-light;
    font-size: 1.2em;
    text-align: center;
    position: relative;
  }
  
  ::placeholder { color: $gray; }