<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
  <!-- BEGIN SEARCH RESULT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <!-- BEGIN FILTERS -->
          <div class="col-md-3">
            <h2 class="grid-title"><i class="fa fa-filter"></i> Filtres</h2>
            <hr>
            
            <div class="padding"></div>
            
            <!-- BEGIN FILTER BY INGREDIENTS -->
            <h4>Par ingrédients:</h4>
            <div clas="row">
                <ul class="ks-cboxtags">
                <li *ngFor="let ingredient of listeIngredients"><input type="checkbox" [id]="ingredient.nomIngr" [value]="ingredient.nomIngr" value="" (change)="setShowTrue(ingredient.nomIngr)" ><label [for]="ingredient.nomIngr"  required>{{ingredient.nomIngr}}</label></li>
                </ul>
            </div>
            <!-- END FILTER BY DATE -->

            <div class="padding"></div>
          </div>
          <!-- END FILTERS -->
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
            <h2><i class="fa fa-file-o"></i> Résultat(s)</h2>
            <hr>
            <!-- BEGIN SEARCH INPUT -->
            <div class="input-group">
              <form [formGroup]="formGroup">
                <mat-form-field>
                  <input type="text" class="form-control" style="width:300px" formControlName="ficheTechnique" matInput [matAutocomplete]="auto" >
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let fiche of nomPlats" [value]="fiche">
                      {{fiche}}
                    </mat-option>
                    
                  </mat-autocomplete>
                </mat-form-field>
              </form>
              <div class="row">            
                <div class="col-md-6 text-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
                    <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SEARCH INPUT -->
            
            
            <!-- BEGIN TABLE RESULT -->
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody><tr *ngFor="let fiche of listFiches;index as i" (click)="clicSurBouton(fiche.id)">
                  <th class="number text-center" scope="row">{{ i+1 }}</th>
                  <td class="image"><img src="https://cdn-icons-png.flaticon.com/512/1436/1436612.png" alt="">
                  <td class="product"><strong style="color: rgb(192, 18, 85);">{{fiche.nomPlat}}</strong></td>
                  <td class="product"><strong>Nombre de couverts</strong><br>{{fiche.nbCouverts}}</td>
                  <td class="product"><strong>Temps Total</strong><br>{{fiche.tempsTot}} min</td>
                  <td class="product"><strong>Responsable</strong><br>{{fiche.nomResponsable}}</td>
                  <td class="product"><strong style="color: rgb(52, 163, 135);">Prix Vente TTC</strong><br>{{fiche.prixV}} €</td>
                </tr>
              </tbody></table>
            </div>
            <!-- END TABLE RESULT -->
            
            <!-- BEGIN PAGINATION -->
            <ul class="pagination">
              <li class="disabled"><a href="#">«</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">»</a></li>
            </ul>
            <!-- END PAGINATION -->
          </div>
          <!-- END RESULT -->
        </div>
      </div>
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
</div>