<!-- Developed by http://grohit.com/ -->

<div class="myblock">
    <div class="flip" (click)="clicSurBouton('parametres')">
        <div class="front"  style="background-image: url(https://images.pexels.com/photos/3785931/pexels-photo-3785931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
            <h1 class="text-shadow">Paramètres</h1>
        </div>
        <div class="back">
          <h2>Paramètres</h2>
          <p>Dans cette section vous pourrez modifier les paramètres liès aux coûts et aux coefficients </p>
       </div>
    </div>
    <div class="flip" (click)="clicSurBouton('FichesTechniques')">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/4033657/pexels-photo-4033657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
           <h1 class="text-shadow">Fiches Techniques</h1>
        </div>
        <div class="back">
           <h2>Fiches Techniques</h2>
           <p>Visualisez les differentes fiches techniques et/ou creez-en</p>
        </div>
    </div>
    
    <br>
    <br>
    
    <!-- vertical -->
    <div class="flip flip-vertical" (click)="clicSurBouton('ListeIngredients')">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/357743/pexels-photo-357743.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
           <h1 class="text-shadow">Liste des ingredients</h1>
        </div>
        <div class="back">
           <h2>Liste des ingredients</h2>
           <p>Visualisez la liste des ingredients et ajoutez un ou plusieurs ingredients</p>
        </div>
    </div>
    <div class="flip flip-vertical" (click)="clicSurBouton('Stock')">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/3821385/pexels-photo-3821385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
           <h1 class="text-shadow">Stock</h1>
        </div>
        <div class="back">
           <h2>Stock</h2>
           <p>Gerez votre stock</p>
        </div>
    </div>
</div>

 
<!-- Footer starts
<footer>

  <div class="footer-copyright text-center">&copy; Developed with by
    <a href="https://grohit.com/" class="white-text" target="_blank">G Rohit</a>. <a href="https://codepen.io/grohit/" target="_blank">Check my other pens </a>
  </div>
  <!-- Copyright 

</footer>
-->
<!-- Footer ends-->



