<div>
  <h4>Add new cout record</h4>
  <form #coutForm="ngForm" (ngSubmit)="onSubmit(coutForm)">
    <div class="form-group">
       <label>coutMatiere</label>
       <input class="form-control" name="coutMatiere" #name="ngModel" 
        [(ngModel)]="cout.coutMatiere" placeholder="coutMatiere" required>
    </div>

    <div class="form-group">
      <label>coutPersonnel</label>
      <input class="form-control" name="coutPersonnel" #name="ngModel" 
        [(ngModel)]="cout.coutPersonnel" placeholder="coutPersonnel" required>
    </div>

    <div class="form-group">
      <label>coutFluides</label>
      <input class="form-control" name="coutFluides" #name=ngModel 
        [(ngModel)]="cout.coutFluides" placeholder="coutFluides" required>
    </div>

      

    <div class="form-group float-right">
      <button type="submit" class="btn btn-success" 
        [disabled]="!coutForm.valid" [disabled]="coutForm.invalid">
        <i class="bi bi-plus"></i>Add Cout</button>
    </div>
  </form>
</div>