<div>
  <table class="styled-table" >
  <thead>
    <tr class="active-row">
      <th scope="col"><i class="bi bi-plus-circle-fill" style="color: rgb(231, 238, 233); font-size: 20px; " 
        (click)="editModal()"></i></th>
      <th scope="col">
        Categorie Ingredient         
      </th>
      <th scope="col">    
      </th>
    </tr>
  </thead>
  <tbody *ngIf="categoriesIngredients">
    <tr *ngFor="let categorie of categoriesIngredients; index as i" class="active-row">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ categorie.nomCategIngr }}</td>
      <td><i class="bi bi-arrow-right-circle" style="color: rgb(72, 138, 66);  " 
      (click)="selectCategorie(categorie)"></i></td>
    </tr>
  </tbody>
</table>
</div>