<div class="container">
    <div class="interior">
      <a class="btn" href="#open-modal">Ajouter une etape ⏱</a>
    </div>
</div>
<div id="open-modal" class="modal-window">
    <div class="row">
        <a href="#" title="Close" class="modal-close">Close</a>
        <div><h2>Étape : {{ etape.nomEtape }}</h2></div>
        <form #etapeForm="ngForm" (ngSubmit)="onSubmit(etapeForm)">
            <div class="row">
                <div class="input-field col s6" >
                    <select style="display: block;width:100px" name="numEtape" id="numEtape">
                        <option value="1">N° 1</option>
                        <option value="2">N° 2</option>
                        <option value="3">N° 3</option> 
                        <option value="4">N° 4</option> 
                        <option value="5">N° 5</option> 
                        <option value="6">N° 6</option>                              
                    </select> 
                </div>
                <div class="input-field col s6">
                    <input id="nomEtape" type="text" name="nomEtape" class="validate"  #name="ngModel" [(ngModel)]="etape.nomEtape" required>
                    <label for="nomEtape">Nom Etape</label>
                </div>
                <div class="input-field col s6">
                    <input type="time" id="duree" name="duree" min="09:00" max="18:00"  #name="ngModel" [(ngModel)]="etape.duree"required>
                    <label for="duree">Duree</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="descritpion" name="descritpion" class="materialize-textarea" #name="ngModel" [(ngModel)]="etape.descritpion" required></textarea>
                    <label for="descritpion">Description</label>
                </div>      
            </div>
            <!--- INGREDIENTS -->
            <div class="row">
                <h5>Liste des ingrédients</h5>
                <div clas="row">
                    <p>Sélectionner ceux dont vous aurez besoin <span class="required">*</span></p>
                    <ul class="ks-cboxtags">
                    <li *ngFor="let ingredient of listeIngredients"><input type="checkbox" [id]="ingredient.nomIngr" [value]="ingredient.nomIngr" value="" (change)="setShowTrue(ingredient.nomIngr)" ><label [for]="ingredient.nomIngr"  required>{{ingredient.nomIngr}}</label></li>
                    </ul>
                </div>
                <!--small> Please include the following in your application.</small-->
                <div name="first"  class="question-answer checkbox-item">
                    <fieldset>
                    <p>Veuillez sélectionner vos intérêts</p>
                    <ul>
                        <li *ngFor="let ingredient of ingredientSelectedArray">
                        <label for="coding">{{ingredient}}</label></li>
                    </ul>                    
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="center">
                    <button class="btn findbtn waves-effect waves-light" 
                    type="submit" [disabled]="!etapeForm.valid" [disabled]="etapeForm.invalid"
                    name="action" > Ajouter </button>   
                </div>
            </div>
            <!------>>
        </form>
    </div>
</div>
