<div align="center">
   <h4 ><strong>Ventes</strong> </h4>
  <table class="table-striped" style="width:50% ">
    <thead>
      <tr class="active-row" style="background-color: rgba(169, 179, 167, 0.815); " >
        <th scope="col">#</th>
        <th scope="col">Nom du Plat</th>
        <th scope="col">Date de vente</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let v of ventes; index as i" class="active-row">
        <th scope="row">{{ i+1 }}</th>
        <th scope="row">{{ v.fiche.nomPlat }}</th>
        <th scope="row">{{ v.date }}</th>

      </tr>
    </tbody>
  </table>
  <br>
  <button type="button" class="btn btn-primary" (click)="goBack()" style="background-color:#974705" >Retour</button>

</div>    