
<div id="open-modal" class="modal-window">
  <div class="row">
      <form  #ingrForm="ngForm" (ngSubmit)="onUpdate()">
          <h4>Modifier {{ingredient.nomIngr}}</h4>
          <div class="form-group">
            <!--NOM-->
            <label for="nomIngr">Nom Ingredient</label>
            <input type=text name="nomIngr" #name="ngModel" 
              [(ngModel)]="ingredient.nomIngr" required>    
          </div>
          
          <div class="form-group">
            <!--PRIX-->
            <label for="prixU">Prix Unitaire</label>
            <input type=number name="prixU" #name="ngModel" 
                [(ngModel)]="ingredient.prixU" required>
          </div>
          
          <div class="form-group">
            <label for="stock">Valeur Stock</label>
            <!--STOCK-->
            <input type="number" name="stock" #name="ngModel" 
            [(ngModel)]="ingredient.stock" placeholder="Valeur Stock" required>
          </div>
          
          <div class="form-group">
            <!--UNITE-->
            <label class="webix_el_label .webix_el_box" for="unite">Unité</label>
            <select style="display: block;" name="unite" #name=ngModel [(ngModel)]="ingredient.unite">
              <option value="g">g</option><option value="Kg">Kg</option>
              <option value="l">l</option><option value="ml">ml</option>
            </select>
          </div>
  
           <!--ALLERGENE-->
           <span class="input-label">Allergene ? </span>
           <div>
             <div class="form-group">
               <!--UNITE-->
               <select style="display: block;" name="allergene" #name=ngModel [(ngModel)]="ingredient.allergene">
                 <option value="true">Oui</option><option value="false">Non</option>
               </select>
             </div>
           </div>
                             
          
          <!--BUTTON ADD-->
          <div class="form-group float-right">
            <button type="submit" class="btn btn-success" [disabled]="!ingrForm.valid">
               <i class="bi bi-plus"></i>Modifier Ingredient</button>
            </div>
      </form>





      <!--sorry-->
    

  </div>
</div>