<a class="btn" href="#open-modal">Ajouter une etape ⏱</a>
<div id="open-modal" class="modal-window">
    <div class="row">
        <a href="#" title="Close" class="modal-close">Close</a>
        <div><h2>Étape : {{ etape.nomEtape }}</h2></div>
        <form #etapeForm="ngForm" >
            <div class="row">
                <div class="input-field col s6" >
                    <select style="display: block;width:100px" name="numEtape" id="numEtape">
                        <option value="1">N° 1</option>
                        <option value="2">N° 2</option>
                        <option value="3">N° 3</option> 
                        <option value="4">N° 4</option> 
                        <option value="5">N° 5</option> 
                        <option value="6">N° 6</option>                              
                    </select> 
                </div>
                <div class="input-field col s6">
                    <input id="nomEtape" type="text" name="nomEtape" class="validate"  #name="ngModel" [(ngModel)]="etape.nomEtape" required>
                    <label for="nomEtape">Nom Etape</label>
                </div>
                <div class="input-field col s6">
                    <input type="time" id="duree" name="duree" min="09:00" max="18:00"  #name="ngModel" [(ngModel)]="etape.duree"required>
                    <label for="duree">Duree</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="descritpion" name="descritpion" class="materialize-textarea" #name="ngModel" [(ngModel)]="etape.descritpion" required></textarea>
                    <label for="descritpion">Description</label>
                </div>      
            </div>
            
            <!--############### TEST###############""""-->
            <h5>Liste des ingredients:</h5>
            <div >
            <button  type="button" class="waves-effect waves-light btn col s4" *ngFor="let ingredient of listeIngredients"
            (click)="addIngredient(ingredient);"> {{ ingredient.nomIngr}} </button>
            <table class="table" cellpadding=0 cellspacing=0>
                <tr >
                <th scope="col" style="width:10%">Ingredient</th>
                <th>Quantité</th>
                <th>Supprimer</th>
                </tr>
                <tr *ngFor="let ingredient of ingredientSelectedArray " >
                <th scope="col" style="width:10%">
                    {{ ingredient.nomIngr }}
                </th>
                <th>
                    <input type="number" name="ingredient.quantite" [(ngModel)]="ingredient.quantite">
                </th>
                <th>
                    <a class="col s1" (click)="removeIngredient(ingredient)">x</a>
                </th>
                </tr>
            </table>
            </div>
            <button  class="waves-effect waves-light btn col s4" style="width:100%" (click)="onSubmit(etapeForm)">VALIDER</button>
            <!------>
        </form>
    </div>
    <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Etape N°</th>
                  <th scope="col">Nom etape</th>
                  <th scope="col">Description</th>
                  <th scope="col">Duree</th>
                  <th scope="col">Ingredients</th>
                  <!--th scope="col">Edit</th-->
                  <!--th scope="col">Delete</th-->
                </tr>
              </thead>
              <tbody *ngIf="listeEtapes">
                <tr *ngFor="let etape of listeEtapesSelected;index as i">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ etape.nomEtape }}</td>
                  <td>{{ etape.descritpion }}</td>
                  <td>{{ etape.duree }}</td>
                  <td><p *ngFor="let ingredient of etape.listeIngr"> {{ingredient.nomIngr}} : {{ingredient.quantite}} : {{ingredient.unite}} </p> </td>
                  <td>
                    <a class="col s1" (click)="removeEtape(etape)">x</a>
                  </td>
                  <!--td>
                    <i class="bi bi-pencil-square" style="color: green;" 
                        (click)="editModal(listeEtapes)"></i>
                  </td>
                  <td>
                    <i class="bi bi-trash" (click)="deleteCout(listeEtapes)" style="color: red;"></i>
                  </td-->
                </tr>
                </tbody>
            </table>
</div>
