<!--
<label>
  
</label>

<button
  class="btn btn-success btn-sm"
  [disabled]="!selectedFiles"
  (click)="upload()"
>
  Upload
</button>

<div *ngIf="currentFileUpload" class="progress mt-2">
  <div
    class="progress-bar progress-bar-info"
    role="progressbar"
    attr.aria-valuenow="{{ percentage }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: percentage + '%' }"
  >
    {{ percentage }}%
  </div>
</div>
-->


<div class="card" style="width:25rem">
  <div class="card-body">
    <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
      <div class="text-center">
        <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
      </div>
      <div class="form-group">
        <label>Select file to upload</label>
        <input
          type="file" accept="image/*" 
          class="form-control"
          (change)="selectFile($event)"
          (change)="showPreview($event)"
          #fileUploader formControlName="imageUrl"
        /><button
        class="btn btn-success btn-sm"
        [disabled]="!selectedFiles"
        
      >
        Upload <!--(click)="upload()"-->
      </button>
        <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" formControlName="caption" placeholder="Caption">
        <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">This field is required.
        </div>
      </div>
      <div *ngIf="categories" class="form-group">
        
        <select formControlName="category" class="form-control">
          <option *ngFor="let categ of categories; index as i"  value=" categ.nomCategFiche">{{categ.nomCategFiche}}</option>

        </select>


  
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <a routerLink="/image/list" class="btn btn-primary btn-block float-right">Go To Gallery</a>
        </div>
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>