
<!--div class="container">
    <div class="row header">
      <h1>Ajouter une nouvelle fiche &nbsp;</h1>
      <h3></h3>
    </div>
    <div class="row body">
      <form action="#" #ficheForm="ngForm" (ngSubmit)="onSubmit(ficheForm)">
        <ul>
          
          <li>
            
            

            
          </li>
          
       
          <li><div class="divider"></div></li>
          <li>
            <div>
                <label for="quantity" style="margin-right: 0.5rem;">Ma liste d'ingredients:</label>
                <select  style="margin-bottom: 1rem;" [(ngModel)]="ingrSelected" name="first"  (change)="setShowTrue(ingrSelected)">
                  <!--option value disabled>Veuillez Selectionner</option>
                  <option *ngFor="let ingredient of listeIngredients"  [value]="ingredient.nomIngr" >{{ingredient.nomIngr}} </option>
                </select>
                <div class="one" >
            </div>
               
                <!--p >Selected option: {{ ingrSelected }}</p>
                
              </div>
             <!--div id="secondDivistion" class="division">
                <button class="noselect"><span class='text'>{{ ingrSelected }}</span>
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/>
                        </svg>
                    </span>
                </button>
            </div>

            <br>
            
                <p *ngFor="let monIngr of ingredientSelectedArray" cdkDrag>
                    <button cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="ingredientSelectedArray"
                    (cdkDropListDropped)="onDrop($event)"> {{ monIngr }} </button>
                </p> 
          </li>

          <li><div class="divider"></div></li>
            


            <div>
                <label for="quantity" style="margin-right: 0.5rem;">Etape déjà existante</label>
                <select >
                <option *ngFor="let etape of listeEtapes"  [value]="etape.nomEtape" >{{etape.nomEtape}} </option>
                </select>
            </div>

            <!->
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom Etape</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let etape of listeEtapes; index as i">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ etape.nomEtape}}</td>
                    <td>
                      <i class="bi bi-trash"  style="color: red;"></i>
                    </td>
                  </tr>
                  </tbody>
              </table>



            <!--   




            <div class="" style="text-align: center;margin-top:5%">
                <button class="icon-btn add-btn">
                    <div class="add-icon"></div>
                    <div class="btn-txt">Add</div>
                </button>
            </div>
          
          <li>
            <label for="comments">Description de l'étape</label>
            <textarea cols="46" rows="3" name="comments"></textarea>
          </li>
          
          <li>
            <div class="form-group float-right">
                <button type="submit" class="btn btn-submit" 
                  [disabled]="!ficheForm.valid" [disabled]="ficheForm.invalid">
                  <i class="bi bi-plus"></i>Ajouter la fiche</button>
              </div>

              
            <input class="btn btn-submit" type="submit" value="Submit" />
            <small>or press <strong>enter</strong></small>
          </li>

        </ul>
      </form>  
    </div>
  </div>


  <-div class="list-container">
    <div class="todo-container column-container">
        <div class="list"
             cdkDropList
             #todoList="cdkDropList"
             [cdkDropListData]="todos"
             [cdkDropListConnectedTo]="[doneList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Tech to learn</h2>
          <mat-card *ngFor="let todo of todos" cdkDrag>
            <mat-card-header>
              <mat-card-title>{{todo.name}}</mat-card-title>
              <mat-card-subtitle>{{todo.category}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
  
    <div class="done-container column-container">
        <div class="list"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="todoList"
        (cdkDropListDropped)="onDrop($event)">
            <h2>Tech learned</h2>
            <mat-card *ngFor="let complete of completed" cdkDrag>
            <mat-card-header>
                <mat-card-title>{{complete.name}}</mat-card-title>
                <mat-card-subtitle>{{complete.category}}</mat-card-subtitle>
            </mat-card-header>
            </mat-card>
        </div>
    </div>
  </div-->



  <!DOCTYPE html>
  <html>
    <head>
      <title>Nouvelle Fiche Technique</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
      <div class="testbox">
      <form action="#" #ficheForm="ngForm" (ngSubmit)="onSubmit(ficheForm)">
        <div class="banner">
          <h1>Nouvelle Fiche Technique</h1>
        </div>
        <div class="item">
          <p>Responsable</p>
          <input type="text" class="form-control" name="nomResponsable" #name="ngModel" 
                  [(ngModel)]="fiche.nomResponsable" placeholder="Nom Responsable" required>
          <div class="item">
            <!--p>Plat</p>
            <input type="text" class="form-control" name="nomPlat" #name="ngModel" 
                    [(ngModel)]="fiche.nomPlat" placeholder="Nom plat" required>
              <p>Nombre Couvert</p-->
                <div class="city-item">
                  <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="fiche.nomPlat" placeholder="Nom Plat" required/>
                  <input type="text" class="form-control" name="nbCouverts" #name="ngModel" 
                  [(ngModel)]="fiche.nbCouverts" placeholder="Nombre de Couverts" required>
                  
                </div>
              
          </div>
          <div>

            <div *ngIf = "!idCategFiche">
              <select style="display: block;width:100px" [(ngModel)]="categSelected" name="categorie"  (change)="setShowTrue(categSelected)" required>
                <option value="">Catégorie</option>
                <option *ngFor="let categorie of listeCategories"  [value]="categorie.nomCategFiche" value=""> {{categorie.nomCategFiche}} </option>
              </select>
            </div>

            <div *ngIf = "idCategFiche">
              <input type="text" name="name" value="categ.nomCategFiche" disabled/>
            </div>
            <!--input *ngFor="let ingredient of listeIngredients"  [value]="ingredient.nomIngr" type="checkbox" value="none" id="check_1" name="checklist" required/>
            <label for="check_1" class="check"><span></span></label-->
          </div>
        </div>
        
        
        <h5>1. Ma liste d'ingrédients pour ce plat</h5>
        <div class="question">
          <p>Faites vos courses pour votre recette:<span class="required">*</span></p>
          <div class="interior">
            <!--a class="btn" href="#open-modal">Choisir Ingrédients📙 </a-->
            <!--button class="btn btn-danger" (click)="triggerModal(modalData)">Choisir Ingrédients📙</button-->
            <button class="btn btn-danger" (click)="triggerModal(modalData)">Open Modal</button>
            

            <ng-template #modalData let-modal>
              <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Liste des ingrédients</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div id="open-modal" class="modal-body">
                  <div clas="row">
                      <p>Sélectionner ceux dont vous aurez besoin <span class="required">*</span></p>
                      <ul class="ks-cboxtags">
                      <li *ngFor="let ingredient of listeIngredients"><input type="checkbox" [id]="ingredient.nomIngr" [value]="ingredient.nomIngr" value=""><label [for]="ingredient.nomIngr" (change)="setShowTrue(ingredient.nomIngr)" required>{{ingredient.nomIngr}}</label></li>
                      </ul>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success"  >Valider</button>
                <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
              </div>
            </ng-template>
            

          </div>
        <br>
          <!--small> Please include the following in your application.</small-->
          <div name="first"  class="question-answer checkbox-item">
            <fieldset>
              <p>Veuillez sélectionner vos intérêts</p>
              <ul>
                <li *ngFor="let ingredient of ingredientSelectedArray">
                <input type="checkbox" id="music" name="interest" value="music">
                <label for="coding">{{ingredient}}</label></li>
              </ul>
              
            </fieldset>

        

            <div class="question">
              <!--div [(ngModel)]="ingrSelected" name="first"  (change)="setShowTrue(ingrSelected)" class="question-answer checkbox-item">
                <div *ngFor="let ingredient of listeIngredients;index as i" > 
                  <input  type="checkbox" value="none" id="check_\'i+1\'" name="checklist" required/>
                  <label for="check_\'i+1\'" class="check"><span>{{ingredient.nomIngr}}</span></label>
                </div>
                
              </div-->
            </div>
            
            

          </div>
          </div>
    
        <h5>2. Mes étapes</h5>
        <div class="item">
          <p>Votre étape existe-elle ?<span class="required">*</span></p>
          <small>Veuillez-la selectionner</small>
          <div >
            <!--div>
              <select style="display: block;width:100px" [(ngModel)]="etapeSelected" name="first"  (change)="setShowTrue(etapeSelected)" required>
                <!--option value="">Liste d'étapes déjà existantes</option>
                <option *ngFor="let etape of listeEtapes"  [value]="etape.nomEtape" value=""> {{etape.nomEtape}} </option>
              </select>

              Sinon 
              <app-etape></app-etape>
            </div-->
            <div class="interior">
              <a class="btn" href="#open-modal">Parcourir les étapes ⏱</a>
            </div>
            <app-etape></app-etape>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Etape N°</th>
                  <th scope="col">Nom etape</th>
                  <th scope="col">Description</th>
                  <th scope="col">Duree</th>
                  <!--th scope="col">Edit</th-->
                  <!--th scope="col">Delete</th-->
                </tr>
              </thead>
              <tbody *ngIf="listeEtapes">
                <tr *ngFor="let etape of listeEtapes;index as i">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ etape.nomEtape }}</td>
                  <td>{{ etape.descritpion }}</td>
                  <td>{{ etape.duree }}</td>
                  <!--td>
                    <i class="bi bi-pencil-square" style="color: green;" 
                        (click)="editModal(listeEtapes)"></i>
                  </td>
                  <td>
                    <i class="bi bi-trash" (click)="deleteCout(listeEtapes)" style="color: red;"></i>
                  </td-->
                </tr>
                </tbody>
            </table>
            
          </div>
        </div>
        
        
        
        <h5>3. Imprimer</h5>
        <div class="question">
          <p>Principle investigator:<span class="required">*</span></p>
          <div class="question-answer">
            <input type="radio" value="none" id="radio_1" name="investigator" required/>
            <label for="radio_1" class="radio"><span>Yes</span></label>
            <input type="radio" value="none" id="radio_2" name="investigator" required/>
            <label for="radio_2" class="radio"><span>No</span></label>
          </div>
        </div>
        <div class="question">
          <p>Co-Investigator:<span class="required">*</span></p>
          <div class="question-answer">
            <input type="radio" value="none" id="radio_3" name="co-investigator" required/>
            <label for="radio_3" class="radio"><span>Yes</span></label>
            <input type="radio" value="none" id="radio_4" name="co-investigator" required/>
            <label for="radio_4" class="radio"><span>No</span></label>
          </div>
        </div>
        
        
        
        
          
          <div class="item">
            <p>Electronic signature<span class="required">*</span></p>
            <textarea rows="3" required></textarea>
          </div>
          <div class="btn-block">
            <button type="submit" href="/">Ajouter ma fiche</button>
          </div>
      </form>
      </div>
    </body>
  </html>