<div align="center">
    <h4>{{ categories.length }} Categories sont disponibles</h4>
    <ul *ngIf="categories" class="card-wrapper">
      <div *ngFor="let categ of categories; index as i">
        <li class="card" (click)="clicSurBouton('' + categ.idCategFiche + '\/' + categ.nomCategFiche + '\/listeFiches',categ)">
          <img class="img-fluid"
            data-src="{{categ.urlImage}}"
            alt="Card image cap"
            style="cursor: pointer; height: 150px">
          <h3><a href="">{{ categ.nomCategFiche }}</a></h3>
          <p>Lorem ipsum sit dolor amit</p>
        </li>
      </div>
  </ul>

  <hr>
  <div class="form-group float-right">
    <button type="submit" class="btn btn-success" (click)="editModal()" >
      <i class="bi bi-plus"></i>Ajouter une catégorie</button> 
  </div>


</div>
  



  



  