<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
      <div class="testbox">
      <form action="#" #ficheForm="ngForm" >
        <div class="banner " >
          <h1>{{fiche.nomPlat}} </h1>
        </div>
        <div class="item">
          <div align="center">
            <table class="table table-striped">
              <thead style="background-color: rgb(199, 180, 156);">
                <tr>
                  <th scope="col">Nom Responsable</th>
                  <th scope="col">Nom Plat</th>
                  <th scope="col">Nom Catégorie</th>
                  <th scope="col">Nombre de Couverts</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ fiche.nomResponsable }}</td>
                  <td>{{ fiche.nomPlat }}</td>
                  <td>{{ nomCateg }} </td>
                  <td >{{ fiche.nbCouverts }}</td>

                </tr>
                </tbody>
            </table>
          </div>
        </div>
        
        <br>
        <h5>1. Ma liste d'ingrédients pour ce plat 🛒</h5>
        <div class="question">
          <!--small> Please include the following in your application.</small-->
          <div align="center">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom ingredient</th>
                  <th scope="col">Unité</th>
                  <th scope="col">Prix Unitaire</th>
                  <th scope="col">Allergène</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ingredient of fiche.listeIngr;index as i">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ ingredient.nomIngr }}</td>
                  <td>{{ ingredient.unite }}</td>
                  <td>{{ ingredient.prixU }} € </td>
                  <td>{{ ingredient.allergene }}</td>

                </tr>
                </tbody>
            </table>
          </div>

        </div>
    
        <h5>2. Mes étapes 🕑</h5>
        <div class="item">
          <div align="center" >
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Etape N°</th>
                  <th scope="col">Nom etape</th>
                  <th scope="col">Description</th>
                  <th scope="col">Duree</th>
                  <th scope="col">Ingredients</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let etape of fiche.listeEtapes;index as i">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ etape.nomEtape }}</td>
                  <td>{{ etape.descritpion }}</td>
                  <td>{{ etape.duree }}</td>
                  <td><p *ngFor="let ingredient of etape.listeIngr"> {{ingredient.nomIngr}} : {{ingredient.quantite}} : {{ingredient.unite}} </p> </td>

                </tr>
                </tbody>
            </table>
            
          </div>
        </div>
        <br>
        
        <div class="btn-block doNotPrint">
          <button type="button" (click)="afficher()">Afficher les Couts</button>
        </div>

        <div *ngIf="vente">
          <h5>3. Couts 💶</h5>
          <table class="table table-striped">
            <thead>
              <tr >
                <th scope="col">Total Denrées</th>
                <th scope="col">Assaisonnement</th>
                <th scope="col">Coût Matières</th>
                <th scope="col">Coût Personnel</th>
                <th scope="col">Coût Fluide</th>
                <th scope="col">Coût de Production Total</th>
                <th scope="col">Coût de Production Portion</th>
                <th scope="col">PRIX DE VENTE(TTC)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="fiche.listeCouts" >
                <td>{{ pHT }} €</td>
                <td>{{ pHT*assaisonnement }} €</td>
                <td>{{ couts.coutMatiere }} €</td>
                <td>{{ coutPers }} €</td>
                <td>{{ coutFluide }} €</td>
                <td>{{ couts.coutMatiere + coutPers + coutFluide}} €</td>
                <td>{{ (couts.coutMatiere + coutPers + coutFluide)/nbCouverts }} €</td>
                <td>{{ fiche.prixV }} €</td>
              </tr>
              </tbody>
          </table>
        </div>
   
          <div class="btn-block doNotPrint">
            <button type="button" (click)="modifierFiche()">Modifier ma fiche</button>
            <button type="button" (click)="supprimerFiche()">Supprimer ma fiche</button>
            <button type="button" (click)="printComponent()">Imprimer ma fiche</button>
            <button type="button" (click)="vendreFiche()">Vendre</button>
          </div>
      </form>
      </div>
    </body>
  </html>