<!-- Developed by http://grohit.com/ -->
<header>
    <nav>
        <ul class="menuItems">
          <li><a href='/accueil' data-item='Accueil'>Accueil</a></li>
          <li><a href='/parametres' data-item='Parametres'>Parametres</a></li>
          <li><a href='/fichesTechniques' data-item='FichesTechniques'>Fiches Techniques</a></li>
          <li><a href='/listeIngredients' data-item='ListeIngredients'>Liste Ingredients</a></li>
          <li><a href='/Stock' data-item='stock'>Stock</a></li>
        </ul>
      </nav>
    </header>

<div class="myblock">
    <div class="flip">
        <div class="front" ng-click="expression" style="background-image: url(https://images.pexels.com/photos/3785931/pexels-photo-3785931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
            <h1 class="text-shadow">Parametres</h1>
        </div>

    </div>
    <div class="flip">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/4033657/pexels-photo-4033657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
           <h1 class="text-shadow">Fiches Techniques</h1>
        </div>
        <div class="back">
           <h2>Angular</h2>
           <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
        </div>
    </div>
    
    <br>
    <br>
    
    <!-- vertical -->
    <div class="flip flip-vertical">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/357743/pexels-photo-357743.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
           <h1 class="text-shadow">Liste Ingredients</h1>
        </div>
        <div class="back">
           <h2>Angular</h2>
           <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
        </div>
    </div>
    <div class="flip flip-vertical">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/3821385/pexels-photo-3821385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
           <h1 class="text-shadow">Stock</h1>
        </div>
        <div class="back">
           <h2>Angular</h2>
           <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
        </div>
    </div>
</div>

 
<!-- Footer starts
<footer>

  <div class="footer-copyright text-center">&copy; Developed with by
    <a href="https://grohit.com/" class="white-text" target="_blank">G Rohit</a>. <a href="https://codepen.io/grohit/" target="_blank">Check my other pens </a>
  </div>
  <!-- Copyright 

</footer>
-->
<!-- Footer ends-->

<!-- Developed by http://grohit.com/ -->