<!-- Developed by http://grohit.com/ -->

<!--div class="myblock">
    <div class="flip" (click)="clicSurBouton('parametres')">
        <div class="front"  style="background-image: url(https://images.pexels.com/photos/3785931/pexels-photo-3785931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
            <h1 class="text-shadow">Paramètres</h1>
        </div>
        <div class="back">
          <h2>Paramètres</h2>
          <p>Dans cette section vous pourrez modifier les paramètres liès aux coûts et aux coefficients </p>
       </div>
    </div>
    <div class="flip" (click)="clicSurBouton('FichesTechniques')">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/4033657/pexels-photo-4033657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
           <h1 class="text-shadow">Fiches Techniques</h1>
        </div>
        <div class="back">
           <h2>Fiches Techniques</h2>
           <p>Visualisez les differentes fiches techniques et/ou creez-en</p>
        </div>
    </div>
    
    <br>
    <br-->
    
    <!-- vertical -->
    <!--div class="flip flip-vertical" (click)="clicSurBouton('ListeIngredients')">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/357743/pexels-photo-357743.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
           <h1 class="text-shadow">Liste des ingredients</h1>
        </div>
        <div class="back">
           <h2>Liste des ingredients</h2>
           <p>Visualisez la liste des ingredients et ajoutez un ou plusieurs ingredients</p>
        </div>
    </div>
    <div class="flip flip-vertical" (click)="clicSurBouton('Stock')">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/3821385/pexels-photo-3821385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
           <h1 class="text-shadow">Stock</h1>
        </div>
        <div class="back">
           <h2>Stock</h2>
           <p>Gerez votre stock</p>
        </div>
    </div>
</div-->

 
<!-- Footer starts
<footer>

  <div class="footer-copyright text-center">&copy; Developed with by
    <a href="https://grohit.com/" class="white-text" target="_blank">G Rohit</a>. <a href="https://codepen.io/grohit/" target="_blank">Check my other pens </a>
  </div>
  <!-- Copyright 

</footer>
-->
<!-- Footer ends-->


<div class="conatiner">
  <div class="wrap">
    
    <div class="box one" (click)="clicSurBouton('ajoutFiche')">
      <div class="date">
      </div>
      <h1>Ajouter une fiche technique</h1>
      <div class="poster p1">
        <h4>A</h4>
      </div>
    </div>
    
    <div class="box two" (click)="clicSurBouton('categorieIngredients')">
      <div class="date">
      </div>
      <H1>Ajouter un ingrédient</H1>
      <div class="poster p2">
        <h4>B</h4>
      </div>
    </div>
    
    <div class="box three" (click)="clicSurBouton('historiqueVentes')">
      <div class="date">
      </div>
      <h1>Historique de mes ventes</h1>
      <div class="poster p3">
        <h4>C</h4>
      </div>
    </div>
    
    <div class="box five" (click)="clicSurBouton('profil')">
      <div class="date">
      </div>
      <h1>Mes informations</h1>
      <div class="poster p4">
        <h4>D</h4>
      </div>
    </div>
    
    <!--div class="box six">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>DESIGN</h1>
      <div class="poster p5">
        <h4>N</h4>
      </div>
    </div-->
    
    <!--div class="box seven">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>CONQUER</h1>
      <div class="poster p6">
        <h4>K</h4>
      </div>
    </div>
    
    <div class="box eight">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>SUCCESS</h1>
      <div class="poster p7">
        <h4>Q</h4>
      </div>
    </div>
    
    <div class="box nine">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>UNFORGETTABLE</h1>
      <div class="poster p8">
        <h4>L</h4>
      </div>
    </div>
    
    <div class="box ten">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>AMAZING</h1>
      <div class="poster p9">
        <h4>J</h4>
      </div>
    </div>
    
    <div class="box eleven">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>LOVE</h1>
      <div class="poster p10">
        <h4>H</h4>
      </div>
    </div>
    
    <div class="box tlv">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>LEARN</h1>
      <div class="poster p11">
        <h4>W</h4>
      </div>
    </div>
    
    <div class="box thirteen">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>YEP</h1>
      <div class="poster p12">
        <h4>S</h4>
      </div>
    </div>
    
    <div class="box ftn">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>SMILE</h1>
      <div class="poster p13">
        <h4>E</h4>
      </div>
    </div>
    
    <div class="box fith">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>CODE</h1>
      <div class="poster p14">
        <h4>R</h4>
      </div>
    </div>
    
    <div class="box sith">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>CARDS</h1>
      <div class="poster p15">
        <h4>U</h4>
      </div>
    </div>
    
    <div class="box sevth">
      <div class="date">
        <h4>6/29/18</h4>
      </div>
      <h1>FLEXBOX</h1>
      <div class="poster p16">
        <h4>A</h4>
      </div>
    </div-->
    
  </div>
  </div>
  
  <!-- FOLLOW -->
  
  



